/* 
  This is where you can add your custom CSS and design what you think 
  should be the default styles of the Web. The CSS sky's the limit, but 
  keep in mind that the page should remain accessible (eg. high contrasting 
  colors and large enough font sizes)

  When you're done, add #codejam #dreamcss to this project's description. 

  HAPPY JAMMING! 🍓🎏
*/

@import "https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700;900";
@import "https://fonts.googleapis.com/css2?family=Sono";
html {
  background-color: hsl(281, 100%, 92%);
  font-family: "Nunito", sans-serif;
  line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}
a:link {
  color: hsl(216, 86.5%, 38%);
}
a:visited {
  color: hsl(302, 57%, 34%);
}
code, pre {
  font-family: "Sono", monospace;
  background-color: hsla(0, 0%, 100%, 0.7);
  box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.4);
  margin: 0 0.1em;
  padding: 0 0.2em;
}
/* don't double-style if someone quite reasonably does e.g. <pre><code> */
:is(code, pre) :where(code, pre) {
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
blockquote {
  background-color: hsl(109 96% 82%);
  border: 1px dashed hsl(96 71% 35%);
  padding: 0.5em;
  overflow: hidden;
}
blockquote::before {
  content: "”";
  font-size: 10em;
  font-weight: 900;
  float: left;
  opacity: 0.2;
  margin-top: -0.4em;
  margin-left: -0.1em;
  margin-right: 0.05em;
  margin-bottom: -0.75em;
}
aside {
  font-weight: 200;
}
textarea, input:not([type="button"], [type="submit"], [type="reset"], [type="image"], [type="checkbox"], [type="radio"], [type="range"], [type="color"], [type="file"], [type="hidden"]) {
  border: 2px solid hsl(300 80% 35%);
  border-radius: 4px;
}